#cabecalho{
	width:100%;
	background:lightblue;
	color:purple;
	height:50px;
}
#coluna1{
	left:80px;
	width:100px;
	background:lightgreen;
	height:600px;
	float:left
}
#coluna2{
	width:92%;
	background:lightyellow;
	height:600px;
	float:left;
	overflow:auto;
}

#coluna3{
	position:absolute;
	top:200px;
	left:300px;
	width:200px;
	height:100px;
	background:white;
	color:red;
}
#rodape{
	position:fixed;
	display:block;
	width:100%;
	background:lightblue;
	color:purple;
	height:20px;
	bottom:0px;
}
