#div1{
	background:		red;
	float:			left;
	width:			100%;
	height:			50px;
}

#div2{
	background:		red;
	float:			left;
	width:			40%;
	height:			50px;
}

#div3{
	background:		red;
	float:			right;
	width:			40%;
	height:			50px;
}


#div4{
	background:		green;
	position:		fixed;
	top:			50px;
	left:			50px;
	width:			100px;
	height:			100px;
}

#div5{
	background:		blue;
	position:		relative;
	width:			25px;
	height:			25px;
}

#div6{
	background:		green;
	position:		absolute;
	top:			50px;
	left:			50px;
	width:			100px;
	height:			100px;
}

#div7{
	background:		green;
	position:		fixed;
	top:			50px;
	left:			50px;
	width:			100px;
	height:			100px;
}
